* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.pageWrapper {
    padding: 10px;
}

.newWrapper {
    background-color: rgb(241, 236, 236);
    margin: 10px;
    border-radius: 7px;
    max-width: 400px;
    min-width: 270px;
}

.newHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(190, 190, 190);
    border-radius: 7px 7px 0 0;
}

.newContent {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    align-items: top;
    margin-bottom: 5px;

}

.newTitle {
    font-size: 1.5em;
    font-weight: bold;
}